<div class="container">
  <div class="cards my-30">
    <div class="row">
      <div class="col-sm-12" *ngFor="let item of [1, 2, 3, 4, 5, 6]">
        <div class="card">
          <div class="certificate">
            <div class="img">
              <img src="assets/images/certificate.png" alt="certificate">
            </div>
          </div>
          <div class="info">
            <div class="header">
              <h4 class="title">لوريم إيبسوم هو ببساطة نص شكلي</h4>
            </div>
            <div class="content">
              <p>(بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. كان لوريم إيبسوم ولايزال المعيار للنص الشكلي منذ القرن الخامس عشر عندما قامت مطبعة مجهولة برص مجموعة من الأحرف بشكل عشوائي أخذتها من نص، لتكوّن كتيّب بمثابة دليل أو مرجع شكلي لهذه الأحرف</p>
            </div>
            <div class="footer">
              <div class="actions">
                <button class="primary-button">
                  <span>عرض المزيد</span>
                  <div class="img">
                    <img src="assets/images/icons/arrow-left.svg" alt="">
                  </div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>